/* body*/ 

/*header*/ 

/*navigation for tablet, desktop, floating left */ 

nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}


/* template for images in body, floated right, 50% width on tablet:
main figure.myPhoto {
    width: 48%;
    margin-left: $gutter;
} */ 

/* template for images using grid:
main div.parent figure {
    flex-basis: 31%;
} */ 