/*font info*/ 
$fontFamily: "Lato", sans-serif;
$baseFontWeight: 400;
$boldWeight: 700;
$lightWeight: 200;
$baseFontSize: 16px;

/*Colors*/
$mainColor: #69783A;
$textColor: #1f1f1f;
$lightText: #707070;
$gutter: 1vw;
